# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules
ncp-debug.log
npm-debug.log
grip/scripts/src/**/*.js
grip/scripts/src/**/*.js.map
grip/styles/**/*.css
!webpack.config.js
/grip/scripts/popup.js
/grip/scripts/commons.js
/grip/scripts/background.js
/grip/scripts/content.js
